@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius";

@include font-face("???", font-files("???.ttf"));
$upper-text: uppercase;
$margin-default: 50px;
$price-border-color: 1px solid #e2e5ec;


%p-font {
  font-size: 16px;
  line-height: 24px;
}
%h2-style {
  margin-top: $margin-default;
  text-transform: $upper-text;
  font-size: 28px;
  font-weight: bold;
}
%default-button-purple {
  margin-top: $margin-default - 20px;
  @include border-radius(30px, 30px);
  border: none;
  background-color: #6657b3;
  color: #ffffff;
  text-transform: $upper-text;
  font-size: 18px;
  padding: 15px 25px;
}
%default-button-white {
  margin: 70px 0 20px 0;
  @include border-radius(30px, 30px);
  border: 1px solid #6657b3;
  color: #6657b3;
  background-color: transparent;
  text-transform: $upper-text;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 25px;
}

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
body {
  background-color: #ffffff;
}
// Header
#header {
  background: url(../images/header-img.jpg) no-repeat center center;
  background-size: cover;
    .header-content {
      text-transform: $upper-text;
      text-align: center;
      padding: 300px 0 450px 0;
      color: #ffffff;
        h1 {
          font-size: 48px;
          font-weight: bold;
        }
        button {
          text-transform: $upper-text;
          @include border-radius(30px, 30px);
          font-size: 18px;
          margin-top: $margin-default;
          background-color: transparent;
          border: 1px solid #ffffff;
          padding: 20px;
        }
    }
}
//First-section dog
#first-section {
  margin: 100px 5px 50px 0px;
  text-align: center;
    h2 {
      @extend %h2-style;
    }
  .h2-payment {
    margin-top: 50px;
  }
    p {
      @extend %p-font;
      margin-top: 50px;
    }
  button {
    @extend %default-button-purple;
  }
}
//Second-section payment
#payment-section {
  .card {
    text-align: center;
    margin-bottom: 100px;
    border: $price-border-color;
    padding: 0;
    h4 {
      text-transform: $upper-text;
      padding: 10px 100px;
      background-color: #eceff2;
    }
    p {
      @extend %p-font;
      padding: 25px 50px;
    }
    .price {
      .dollar {
        position: relative;
        display: inline-block;
        bottom: 15px;
        font-size: 18px;
      }
      .price-amount {
        font-size: 40px;
        font-weight: bold;
      }
    }
    ul {
      margin-top: 10px;
      li {
        border-bottom: $price-border-color;
        padding: 15px;
      }
    }
    button {
      @extend %default-button-white;
    }
  }
}