@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius";

@include font-face("???", font-files("???.ttf"));
$margin-default: 50px;
$price-border-color: 1px solid #e2e5ec;
$purple-color: #6657b3;


%p-font {
  font-size: 16px;
  line-height: 24px;
  color: #000000
}
%h2-style {
  margin-top: $margin-default;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
}
%default-button-purple {
  margin-top: $margin-default - 20px;
  @include border-radius(30px, 30px);
  border: none;
  background-color: $purple-color;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 25px;
}
%default-button-white {
  margin: 70px 0 20px 0;
  @include border-radius(30px, 30px);
  border: 1px solid $purple-color;
  color: $purple-color;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 25px;
}
%default-button-white-hover {
  background-color: $purple-color;
  color: #ffffff;
}

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
body {
  background-color: #ffffff;
}
// Header
#header {
  background: url(../images/header-img.jpg) no-repeat center center;
  background-size: cover;
    .header-content {
      text-transform: uppercase;
      text-align: center;
      padding: 245px 0 450px 0;
      color: #ffffff;
        h1 {
          font-size: 48px;
          font-weight: bold;
        }
        a {
          position: relative;
          top: 50px;
          text-decoration: none;
          text-transform: uppercase;
          @include border-radius(30px, 30px);
          font-size: 18px;
          margin-top: $margin-default;
          background-color: transparent;
          border: 1px solid #ffffff;
          padding: 15px;
          color: #ffffff;
            &:hover {
              background-color: lighten($purple-color, 10%);
            }
        }
    }
}
//First-section dog
#first-section {
  margin: 150px 5px 50px 0px;
  text-align: center;
    h2 {
      @extend %h2-style;
    }
  .h2-payment {
    margin-top: 90px;
  }
    p {
      @extend %p-font;
      margin-top: 50px;
    }
  button {
    @extend %default-button-purple;
      &:hover {
        background-color: lighten($purple-color, 10%);
      }
  }
}
//Second-section payment
#payment-section {
  #central-card {
    background-color: #ffffff;
    border: 2px solid $purple-color;
    button {
      @extend %default-button-purple;
      margin-top: 70px;
    }
    h4 {
      background-color: $purple-color;
      color: #ffffff;
    }
  }
  .card {
    background-color: lighten($purple-color, 47%);
    text-align: center;
    margin-bottom: 100px;
    border: $price-border-color;
    padding: 0;
      a {
        text-decoration: none;
        color: black;
        display: inline-block;
      }
      h4 {
        text-transform: uppercase;
        padding: 10px 100px;
        background-color: #eceff2;
      }
      p {
        @extend %p-font;
        padding: 25px 50px;
      }
      .price {
        .dollar {
          position: relative;
          display: inline-block;
          bottom: 15px;
          font-size: 26px;
        }
        .price-amount {
          font-size: 50px;
          font-weight: bold;
        }
      }
    ul {
      margin-top: 10px;
      li {
        border-bottom: $price-border-color;
        padding: 15px;
      }
    }
    button {
      @extend %default-button-white;
        &:hover {
          @extend %default-button-white-hover;
        }
    }
  }
  #card-left,
  #card-right {
    a {
      &:hover {
        background-color: #ffffff;
        border: 1px solid $purple-color;
        h4 {
          background-color: $purple-color;
          color: #ffffff;
        }
      }
    }
  }
}
// Iphohe section
#iphone-section {
  background: url(../images/office.jpg) no-repeat center center;
  background-size: cover;
    .iphone-img {
      display: block;
      position: absolute;
      top: 70px;
      right: 215px;
    }
  .iphone-content-section {
    padding: 120px 110px 160px 0px;
    text-align: center;
    color: #ffffff;
    h3 {
      text-transform: uppercase;
      font-size: 40px;
    }
    h5 {
      font-size: 24px;
      padding-bottom: 50px;
    }
    .quote {
      font-size: 24px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
      font-style: italic;
      padding-bottom: 30px;
    }
  }
}
//Footer
#footer {
  button {
    @extend %default-button-white;
    margin: 40px 10px 20px auto;
    float: right;
    &:hover {
      @extend %default-button-white-hover;
    }
  }
}