/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "???";
  src: url('../fonts/???.ttf') format('truetype');
}
/* line 10, ../sass/stylesheet.scss */
#first-section p, #payment-section .card p {
  font-size: 16px;
  line-height: 24px;
}

/* line 14, ../sass/stylesheet.scss */
#first-section h2 {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
}

/* line 20, ../sass/stylesheet.scss */
#first-section button, #payment-section #central-card button, #payment-section .card a:hover button {
  margin-top: 30px;
  -moz-border-radius: 30px / 30px;
  -webkit-border-radius: 30px 30px;
  border-radius: 30px / 30px;
  border: none;
  background-color: #6657b3;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 25px;
}

/* line 30, ../sass/stylesheet.scss */
#payment-section .card button {
  margin: 70px 0 20px 0;
  -moz-border-radius: 30px / 30px;
  -webkit-border-radius: 30px 30px;
  border-radius: 30px / 30px;
  border: 1px solid #6657b3;
  color: #6657b3;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 25px;
}

/* line 41, ../sass/stylesheet.scss */
#payment-section .card button:hover {
  border: none;
  background-color: #6657b3;
  color: #ffffff;
  font-size: 18px;
}

/* for Bootstrap */
/* line 49, ../sass/stylesheet.scss */
.no-margin {
  margin: 0 !important;
}

/* line 50, ../sass/stylesheet.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/**/
/* line 55, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 56, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 58, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
}

/* line 62, ../sass/stylesheet.scss */
body {
  background-color: #ffffff;
}

/* line 66, ../sass/stylesheet.scss */
#header {
  background: url(../images/header-img.jpg) no-repeat center center;
  background-size: cover;
}
/* line 69, ../sass/stylesheet.scss */
#header .header-content {
  text-transform: uppercase;
  text-align: center;
  padding: 300px 0 450px 0;
  color: #ffffff;
}
/* line 74, ../sass/stylesheet.scss */
#header .header-content h1 {
  font-size: 48px;
  font-weight: bold;
}
/* line 78, ../sass/stylesheet.scss */
#header .header-content button {
  text-transform: uppercase;
  -moz-border-radius: 30px / 30px;
  -webkit-border-radius: 30px 30px;
  border-radius: 30px / 30px;
  font-size: 18px;
  margin-top: 50px;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 20px;
}

/* line 90, ../sass/stylesheet.scss */
#first-section {
  margin: 100px 5px 50px 0px;
  text-align: center;
}
/* line 96, ../sass/stylesheet.scss */
#first-section .h2-payment {
  margin-top: 50px;
}
/* line 99, ../sass/stylesheet.scss */
#first-section p {
  margin-top: 50px;
}

/* line 109, ../sass/stylesheet.scss */
#payment-section #central-card {
  background-color: #ffffff;
  border: 2px solid #6657b3;
}
/* line 112, ../sass/stylesheet.scss */
#payment-section #central-card button {
  margin-top: 70px;
}
/* line 116, ../sass/stylesheet.scss */
#payment-section #central-card h4 {
  background-color: #6657b3;
  color: #ffffff;
}
/* line 121, ../sass/stylesheet.scss */
#payment-section .card {
  background-color: #fcfcfe;
  text-align: center;
  margin-bottom: 100px;
  border: 1px solid #e2e5ec;
  padding: 0;
}
/* line 127, ../sass/stylesheet.scss */
#payment-section .card a {
  text-decoration: none;
  color: black;
  display: inline-block;
}
/* line 131, ../sass/stylesheet.scss */
#payment-section .card a:hover {
  background-color: #ffffff;
  border: 2px solid #6657b3;
}
/* line 134, ../sass/stylesheet.scss */
#payment-section .card a:hover button {
  margin-top: 70px;
}
/* line 138, ../sass/stylesheet.scss */
#payment-section .card a:hover h4 {
  background-color: #6657b3;
  color: #ffffff;
}
/* line 144, ../sass/stylesheet.scss */
#payment-section .card h4 {
  text-transform: uppercase;
  padding: 10px 100px;
  background-color: #eceff2;
}
/* line 149, ../sass/stylesheet.scss */
#payment-section .card p {
  padding: 25px 50px;
}
/* line 154, ../sass/stylesheet.scss */
#payment-section .card .price .dollar {
  position: relative;
  display: inline-block;
  bottom: 15px;
  font-size: 26px;
}
/* line 160, ../sass/stylesheet.scss */
#payment-section .card .price .price-amount {
  font-size: 50px;
  font-weight: bold;
}
/* line 165, ../sass/stylesheet.scss */
#payment-section .card ul {
  margin-top: 10px;
}
/* line 167, ../sass/stylesheet.scss */
#payment-section .card ul li {
  border-bottom: 1px solid #e2e5ec;
  padding: 15px;
}
